/* CSS for utskrifter */
@media print {
    * {
        margin: 0;
        font-family: "Times New Roman";
        color: black;
    }
    body {
        line-height: 1.5;
    }
    nav {
        display: none;
    }
    img {
        max-width: 100%;
    }
    figure {
        margin: 20px auto 20px auto;
        text-align: center;
        width: 280px;
    }
    h1 {
        font-size: 16pt;
    }
    header h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 14pt;
    }
    h4 {
        font-size: 12pt;
    }
    h2, h4 {
        margin-top: 20px;
    }
    p {
        font-size: 12pt;
    }
    a {
        text-decoration: none;
    }
    a[href^="https://"]:after {
        content: " (" attr(href) ")";
    }
}